include doc/Makefile doc/make.bat
include LICENSE
include MANIFEST.in
include ophyd/_version.py
include README.rst
include requirements.txt
include setup.py
include versioneer.py
recursive-include ophyd *.rst
recursive-include doc/source *
recursive-exclude doc/source/generated *
