attrs>=19.3.0
black==22.3.0
bluesky>=1.7.0
caproto[standard] >=0.4.2rc1
codecov
databroker>=1.0.0b1
epics-pypdb
# Upper bound on flake8 while flake8-isort catches up
# https://github.com/gforcada/flake8-isort/issues/115
flake8<5.0.0
flake8-isort
h5py
matplotlib
mypy
pre-commit
pyepics>=3.4.2
pytest
pytest-faulthandler
pytest-rerunfailures
